.detail {
    display: flex;
    margin: 30px 0;
    padding-top: 70px;
}

.detail img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.detail table {
    width: calc(100% - 240px);
    margin: 0 40px;
}

.detail table td {
    padding: 10px 0;
}

.detail table td:first-child {
    min-width: 120px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #222b45;
}

.detail table td:last-child {
    line-height: 20px;
    font-size: 16px;
    color: #697684;
}

.detail table ul {
    display: flex;
    flex-direction: column;
}

.detail table li {
    display: flex;
    margin-bottom: 10px;
}

.detail table li:last-child {
    margin-bottom: 0;
}

.detail table li div:first-child {
    flex: 0 0 200px;
    font-weight: 500;
}

.detail table li div {
    line-height: 25px;
}

.detail table .actors li div:first-child {
    flex: 0 0 100px;
    font-weight: 500;
}

.heading {
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 999;
    display: flex;
    position: fixed;
    margin-bottom: 0px;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.1);
}

.heading a {
    display: flex;
    color: #222b45;
    align-items: center;
    text-decoration: none;
}
