.firstRow {
    background-color: #333f48;
    width: 100%;
    height: 10px;
}

.secondRow {
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
    position: sticky;
    margin-bottom: 0px;
    background-color: white;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.1);
}

.input {
    height: 80px;
    padding: 15px 10px;
    position: relative;
}

.input label {
    top: 15px;
    bottom: 15px;
    display: flex;
    color: #697684;
    padding: 0 10px;
    position: absolute;
    align-items: center;
}

.input label span {
    font-size: 24px;
}

.input input {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    color: #697684;
    padding-left: 40px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    font-family: 'Avenir Next', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.15);
    transition: 0.31s cubic-bezier(0.7, 0.3, 0, 1);
}

.input input:focus {
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.input button {
    top: 20px;
    border: 0;
    right: 15px;
    bottom: 20px;
    color: #fff;
    padding: 0 20px;
    position: absolute;
    background: #333f48;
    font-family: 'Avenir Next', sans-serif;
    border-radius: 5px;
}

.input button:hover {
    background: #20282e;
}
